/**
 * 全局变量
 */

// 字体
$font-family: 'Roboto',sans-serif, '微软雅黑';

// 颜色
$color-base: #000;
$color-red: #FF3666;
$color-green: #50D2C2;
$color-blue: #3B5998;
$color-white: #fff;
$color-gray: #9B9B9B;

// 主体宽度
$content-width: 1050px;


// 线条主要颜色
$line-color: rgba(#1D1D26, 0.05);

// 细字体
$font-light: 300;
